footer {
    margin-top: 60px;
    background-image: url('../../assets/images/black-background.jpg');
    height: 200px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer-logo{
    width: 300px;
    height: 80px;
}

@media  screen and (max-width: 600px) {
    footer{
       flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .footer-logo{
        width: 180px;
        height: 50px;
    }
}