.hero{
    background: url(../../assets/images/black-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-section{
    display: flex;
    margin-top: 36px;
    width: 100%;
    overflow: hidden;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.carro{
    transform: translate(150px, 0);
    width: 810px;
    height: 610px;
}

.logo{
    width: 554px;
    height: 235px;
}

@media  screen and (max-width: 600px) {
    .hero-section{
        padding: 0;
        max-width: 100%;
        flex-direction: column;
        margin-top: 130px;
    }

    .logo{
        width: 90%;
        max-height: 160px;
    }

    .div-hero-logo{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .carro{
        transform: translate(70px, 0);
        max-width: 510px;
        max-height: 410px;
    }
}

@media  screen and (max-width: 992px){
    .hero-section{
        flex-direction: column;
    }

    .carro{
        transform: translate(70px, 0);
        width: 710px;
        height: 510px;
    }
}

@media  screen and (max-width: 1200px){
    .carro{
        transform: translate(90px, 0);
        width: 610px;
        height: 510px;
    }
    
    .div-hero-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 90%;
        max-height: 180px ;
    }
}