@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{font-family: 'Poppins', sans-serif;margin: 0;padding: 0;scroll-padding-top: 1rem;scroll-behavior: smooth;list-style: none;text-decoration: none;box-sizing: border-box;color: #f6f6f6;}html{scroll-behavior: smooth;}img{width: 100%;}main{display: flex;justify-content: center;align-items: center;margin: auto;flex-direction: column;width: 100%;overflow-x: auto;}body{background: #121212;}@media screen and (max-width: 600px) {.padding-x{padding: 0;}}.botao{
    width: 100px;
    height: 40px;
    background-color: #89dde1;
    border-radius: 8px;
    border: none;
    color: #121212;
    font-weight: 700;
}