header {
    background-color: #f6f6f6;
    margin-top: 8px;
    height: 80px;
    width: 95%;
    background-color: rgba(53, 53, 53, 0.264);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid rgba(186, 186, 186, 0.355);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 22px;
    font-family: "Inter", sans-serif;
}

nav{
    display: flex;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 50px;
    display: none;
}

/* #menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
} */

ul{
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms ease;
}

a:hover{
    color: #89DDE1;
    border-bottom: 3px solid #89DDE1;
}

.logo-nav{
    width: 200px;
    height: 50px;
}

@media  screen and (max-width: 600px) {
    header {
        padding: 0;
        position: fixed;
        top: 10px;
        z-index: 1;
    }

    .logo-nav{
        width: 120px;
        height: 40px;
    }

    .nav-btn{
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        transition: 1s;
        background-color: rgba(23, 23, 23, 0.938);
        transform: translateX(100vw);
    }

    .list-items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .responsive_nav{
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
}

@media  screen and (max-width: 992px){
    ul{
        gap: 14px;
    }
}