.about-us{
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 600px;
}

.texto-sobre{
    width: 600px;
}

.sobre-logo{
    width: 350px;
    height: 350px;
    border-radius: 12px;
}

.titulo-sobre{
    font-size: 32px;
    color: #89DDE1;
}

.paragrafo-sobre{
    text-align: justify;
}

@media  screen and (max-width: 600px) {
    .about-us{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 60px auto;
        text-align: center;
        min-height: 900px;
    }

    .texto-sobre{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 100px;
        height: 700px;
    }

    .sobre-logo{
        margin-bottom: 40px;
    }

}

@media  screen and (max-width: 992px){
    .about-us{
        flex-direction: column-reverse;
        height: 700px;
        margin-bottom: 60px;
        text-align: center;
        margin: 0px auto;
    }

    .titulo-sobre{
        margin-bottom: 26px;
    }

}

@media  screen and (max-width: 1200px){
    .about-us{
        width: 90%;
        margin: 60px auto;
    }

    .sobre-logo{
        width: 300px;
        height: 300px;
    }
}